:root {
    --color-text-white: white;
}

.img-carousel-wh {
    width: 100%;
    height: 500px;
}

/* .card-container {
   display: flex;
   width: 100%; 
   justify-content: center;
} */

.carousel-inner > div {
    width: 100%;
}

.container-footer {
    display: flex;
    justify-content: center;
}

.card-container {
   width: 100%; 
}

.card-container-child {
    width: 70%;
}

.card {
    margin-top: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.cards > div {
    margin-left: 10px;
}

.container-form {
    display: flex;
    justify-content: center;
}

.container-form h2 {
    text-align: center;
}

.form-control {
    width: 100%;
}

.section-form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-form {
    box-sizing: border-box;
    width: 70%;

    margin: 0 auto 50px auto;
}

#title-form {
    width: 500px;
    font-size: 28px;
    margin-bottom: 30px;
}

.text-center-footer {
    justify-content: center;
    color: black;
}

#text-black-link {
    color: black;
    text-decoration: none;
}

.text-center {
    color: black;
}

.text-center-footer {
    justify-content: center;
}

.font-color-white {
    color: white;
}

.btn-flex-end {
    justify-content: space-around;
}

#navbarNav {
    justify-content: space-around;
}

footer {
    margin: 0 auto 0 auto;
}


@media screen and (max-width:640px) {
    .frame-video {
        width: 60%;
    }
}


